h1{
    font-size: 80px;
    margin: 30px 5px 60px;
    text-shadow:
            1px 1px 10px #5267E1,
            1px -1px 10px #5267E1,
            -1px 1px 10px #5267E1,
            -1px -1px 10px #5267E1;
    color: white;
    transition: all 1s;
    opacity: 0.1;
}
h1:hover{
    text-shadow:
            1px 1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            -1px -1px 0 black;
    opacity: 1;
}
.Htext{
    display: flex;
    justify-content: space-between;
}
